/* .card {
    
} */

/* .cardInfected {
    border-bottom: 10px solid rgb(207, 14, 207);
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
} */

.cardRecovered {
    border-bottom: 10px solid rgb(23, 207, 94);
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.cardDeaths {
    border-bottom: 10px solid rgb(235, 30, 81);
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}